.jumbotron {
	color: #FFF;
	border-radius: 0px;
}
.jumbotron-sm {
	padding-top: 24px;
	padding-bottom: 24px;
	}
.jumbotron small {
	color: #FFF;
}
.h1 small {
	font-size: 24px;
}
.maps {
	border: 0px;
	width: 100%;
}