/*footer{
  background-color: black;
  padding-top: 50px;
  padding-bottom: 30px;
	position:relative;
	color: lightgray;
	margin-top: 50px;
}*/
.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  padding-top: 50px;
  padding-bottom: 30px;
  color: lightgray;
  background-color: #101010;
}