body, html {
    height: 100%;
}
nav.navbar.navbar-inverse {
    border-bottom: 0px !important;
    margin-bottom: 0px !important;
}

/* ============================================================
  PRIMARY STRUCTURE
============================================================ */
.container {
  max-width: 960px;
  margin: 0 auto;
}

/* ============================================================
  SECTIONS
============================================================ */
section.module:last-child {
  margin-bottom: 0;
}
section.module h2 {
  margin-bottom: 40px;
  font-family: "Roboto Slab", serif;
  font-size: 30px;
}
section.module p {
  margin-bottom: 40px;
  font-size: 16px;
  font-weight: 300;
}
section.module p:last-child {
  margin-bottom: 0;
}
section.module.content {
  padding: 40px 0;
}
section.module.parallax {
  padding: 240px 0;
  background-position: 0 0;
}
section.module.parallax h1 {
  color: #333;
  font-size: 40px;
  line-height: 1;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 0 10px white;
}
section.module.parallax-1 {
  background-image: url("../models/web_parallax.jpg");
  width: 100%;
  height: 80%;
  /*background-attachment: fixed;*/
  background-position: center;
  /*background-repeat: no-repeat;*/
  background-size: cover;
}
section.module.parallax-2 {
  background-image: url("http://www.deaftravel.co.uk/images/signs/India_SL.jpg");
  width: 100%;
  height: 80%;
  /*background-attachment: fixed;*/
  background-position: center;
  /*background-repeat: no-repeat;*/
  background-size: cover;
}
section.module.parallax-3 {
  background-image: url("https://media.licdn.com/mpr/mpr/AAEAAQAAAAAAAAL8AAAAJGIyNzJhNjA1LTY2NDMtNDc3ZS1iMjY0LTdlYjQ0M2JjYWM4YQ.jpg");
  width: 100%;
  height: 80%;
  /*background-attachment: fixed;*/
  background-position: center;
  /*background-repeat: no-repeat;*/
  background-size: cover;
}

@media all and (min-width: 600px) {
  section.module h2 {
    font-size: 42px;
  }
  section.module p {
    font-size: 20px;
  }
  section.module.parallax {
    padding: 300px 0;
  }
  section.module.parallax h1 {
    font-size: 40px;
  }
}
@media all and (min-width: 960px) {
  section.module.parallax h1 {
    font-size: 40px;
  }
}