.sketchfab {
	position: relative;
	width: 80%;
	height: 80%;
	top: 50px;
	padding-bottom: 30%;
}
.myframe {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	margin-left: 12.5%;
	margin-right: 12.5%;
}
#buttonGroup.container {
	margin: auto;
    text-align: center !important;
    padding-top: 5% !important;
    padding-bottom: 1% !important;
}	