.sketchfab {
	position: relative;
	width: 80%;
	height: 80%;
	padding-bottom: 30%;
}
.myframe {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	margin-left: 12.5%;
	margin-right: 12.5%;
}
.accordion {
  position: absolute;
  margin-top: 80%;
}